@model IOAS.Models.OfficeOrderModel

<div class="row">
    <div class="col-md-12 mt-md">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="bg-blue">Affects Current Pay</td>
                    <td class="bg-blue">Revised Value</td>
                    <td class="bg-blue">Arrear From</td>
                    <td class="bg-blue">Arrear Pay / Date</td>
                    <td class="bg-blue">Remarks</td>
                </tr>
                <tr>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>

                <tr>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td class="bg-blue">
                        <select class="form-control">
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                    <td class="bg-blue">
                        <input type="text" value="" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>