@model IOAS.Models.AccountTypeModel
@{
    ViewBag.Title = "Report";
    ViewBag.Subtitle = "Reports";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<div class="row hd-tt-bg ">
    <div class="col-md-12">
        <h4><b>TrailBalance</b></h4>
    </div>
</div>

<div class="row">
    <div class="page-wrapper">
        <div class="col-md-12 mt30">



            <div class="row">

                <div class="col-md-12">

                    <div class="vh-tt-bg vh-tt-bg-adj mt-null">
                        <div class="vh-frm-bg bl-lg-panel-box pb-null br-adj-null">
                            <div class="row">

                                <div class="">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">


                                                    <div class="row mt-md">

                                                        <div class="col-md-3 ">
                                                            <div class="form-group custom-form-group ">
                                                                <label>AccountType</label><br />
                                                                @Html.DropDownListFor(m => m.AccountType, new SelectList(ViewBag.AccountType, "AccountType", "AccountType"), "Select AccountType", new { @class = "form-control", @id = "acctype" })
                                                            </div>
                                                        </div>


                                                       @* <div class="col-md-3">
                                                            <div class="form-group custom-form-group ">
                       
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3">
                                                            <div class="form-group custom-form-group ">
                                                            
                                                            </div>
                                                        </div>*@
                                                        @*<div class="col-md-3">
                                                            <div class="form-group custom-form-group ">
                                                               
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12 mt-md mb-lg text-center">
                <input type="submit" value="Generate Report" class="btn btn-primary" id="btnSubmit" />
            </div>
        </div>
    </div>

</div>

<script>

    
    $('#btnSubmit').click(function () {
        var accounts = $('#acctype').val();
        var win = window.open('', '_blank');
        var url = "@Url.RouteUrl(new {Controller = "ReportMaster", Action = "TrailBalance" })?accounts=" + accounts;
        win.location.href = url;
    });

</script>

