
<div style="display: none;" id="tab-02">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="bl-lg-panel-box pb-null">
                    <div class="cmn-panel-box">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="grey-bg-adj mb-lg">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table alter-table mb-null">
                                                        <thead>
                                                            <tr>
                                                                <th>House on Rent No </th>
                                                                <th style="width:250px;"></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    PN123
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    PN123
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    PN123
                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control">
                                                                </td>
                                                            </tr>




                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>







                            </div>


                        </div>
                    </div>

                </div>
            </div>





            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Taxable Income : Rs.1,00,000</th>
                            <th>Annual Tax : 10,000</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="tb-spl-stt"> Potential</span>
                                <em class="tb-spl-stt-dscp">4,00,000</em>
                            </td>
                            <td>
                                <span class="tb-spl-stt"> Actual</span>
                                <em class="tb-spl-stt-dscp">4,00,000</em>
                            </td>
                            <td>
                                <span class="tb-spl-stt"> Gap</span>
                                <em class="tb-spl-stt-dscp">4,00,000</em>
                            </td>

                        </tr>



                    </tbody>
                </table>
            </div>


        </div>
        <div class="row"></div>
    </div>
</div>

