
@model IOAS.Models.TemporaryAdvanceModel

@{
    if (Model.PendingAdvanceNumber != null)
    {
        for (int i = 0; i < Model.PendingAdvanceNumber.Count(); i++)
        {
            <tr>
                <td>@Html.DisplayFor(m => m.AdvCrtdDate[i], new { @class = "form-control"})</td>
                <td>@Html.DisplayFor(m => m.PendingAdvanceNumber[i], new { @class = "form-control"})</td>
                <td>@Html.DisplayFor(m => m.PendingAdvanceAmount[i], new { @class = "form-control"})</td>               
            </tr>
                        }
                    }
}
<script>
$('[id^="btnSelect_"]').click(function () {
        var ID = $(this).attr("id");
        ID = ID.substr(ID.lastIndexOf("_") + 1);
        var url = '@Url.Action("CreateReceipt", "CoreAccounts")?ID=' + ID;
        window.location.href = url;
    });
</script>


