@model IOAS.Models.EmpITDeductionModel
@Html.AntiForgeryToken()

<div class="white-bg br-rd mt-null">
    <h3 class="mt-null">Income from Self-occupied Property</h3>
    <div class="row">
        <div class="col-md-12">
            <div class="m-b-sm">

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Particulars
                            </th>
                            <th>
                                Eligible Amount
                            </th>
                            <th>
                                Amount
                            </th>
                            <th></th>
                        </tr>
                        @{
                            if (Model.ItSOP != null && Model.ItSOP.Count > 0)
                            {
                                var sno = 0;

                                //foreach (var item in Model.ItSOP)
                                for (int i = 0; i < Model.ItSOP.Count; i++)
                                {
                                    sno = sno + 1;

                                    <tr>

                                        <td>
                                            <label>@sno</label>
                                        </td>
                                        <td>
                                            <label>@Html.DisplayFor(modelItem => modelItem.ItSOP[i].EligibleAmount)</label>
                                        </td>
                                        <td>
                                            @Html.TextBox("ItSOP[" + @i + "].Amount", Model.ItSOP[i].Amount, new { @class = "form-control" })
                                        </td>

                                    </tr>

                                }
                            }

                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </tfoot>
                </table>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md">
            <div class="form-group custom-form-group ">
                <label>Lender's Name</label>
                <input value="" class="form-control" type="text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group custom-form-group ">
                <label>Lender's PAN </label>
                <input value="" class="form-control" type="text">
            </div>
        </div>
    </div>

</div>




<script type="text/javascript">

    function alertBox(title, message) {
        $.alert({
            title: title || 'Alert!',
            content: message || ''
        });
    }

</script>
