@model IOAS.Models.SqlReportModel
@{
    ViewBag.Title = "Report Menu";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}

<aside class="right-side sidebar-offcanvas">

    @using (Html.BeginForm("ReportMenu", "Reports", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="white-bg">
            <div class="submenu-nav">
                @*<div class="submenu-search-bg" id="searchReport">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <input id="searchbox" value="" class="form-control" type="text">
            </div>
            <div class="col-md-3">
                <a href="javascript:void(0);" id="btnSearch" class="btn btn-primary">Search</a>
                <a href="javascript:void(0);" id="btnClear" class="btn btn-danger"><i class="ion-close"></i></a>
            </div>
        </div>
        @*<div id="reportMenuList" class="row">
            <div class="col-md-3">
                <div class="sp-nav">
                    <h4><i class="ion-gear-b"></i> Reports</h4>
                    <ul id="reportMenu"></ul>
                </div>
            </div>
        </div>
    </div>*@
            </div>


        </div>


    }
</aside>

<script type="text/javascript" language="javascript">

    //$("#btnSearch").click(function () {
    //    var text = $("#searchbox").val();
    //    LoadMenu();
    //});

    //$("#btnClear").click(function () {
    //    $("#searchbox").val("");
    //    LoadMenu();
    //});
    $(document).ready(function () {
        //LoadMenu();
    });
    
    @*function LoadMenu() {
        var token = $("input[name=__RequestVerificationToken]").val();
        var searchdata = { "__RequestVerificationToken": token };
        var headers = {
            contentType: 'application/x-www-form-urlencoded'
        }
        headers['__RequestVerificationToken'] = token;
        searchdata.ReportId = -1;
        var ReportName = $("#searchbox").val() || "";
        $.ajax({
            url: '@Url.Action("getReportListByUser", "Reports")?ReportName=' + ReportName,
            type: "GET",
            headers: headers,
            data: searchdata,
            success: function (response) {
                var data = response.result;
                $("#reportMenu").html("");
                if (data && data.length > 0) {
                    
                    $("#reportMenuList").empty();
                    for (var menu = 0; menu < data.length; menu++) {
                        var menuId = $('#' + data[menu].ModuleName);
                        if (menuId.length === 0) {
                            $("#reportMenuList").append('<div class="col-md-3"><div class="sp-nav"><h4><i class="ion-gear-b"></i>' + data[menu].ModuleName + '</h4><ul id="' + data[menu].ModuleName + '"></ul></div></div>');
                        }

                    }
                    for (var i = 0; i < data.length; i++) {
                        var MenuList = $('#' + data[i].ModuleName);
                        if (MenuList.length > 0) {
                            var rptURL = '@Url.Action("ReportViewer", "Reports")?ReportID='
                            MenuList.append('<li><a href="' + rptURL + data[i].ReportID + '">' + data[i].ReportName + '</a></li>')
                        }
                        //$("#reportMenu").append('<li><a href="/Reports/ReportViewer?ReportID=' + data[i].ReportID+'">' + data[i].ReportName + '</a></li>')
                    }
                }

            },
            error: function (err) {
                console.log(err);
                alert(err);
            }
        });
    }*@
</script>